src/**            
tests/**          
node_modules/**   
*.ts              
.vscode/**        
tsconfig.json     
.eslintrc.json    
.vscodeignore     
vscode-java-debugx-bridge/**
.settings/**
media/**
.github/**
build.js
.gitignore